# local configuration for git, referenced in .config/git/config
/.config/git/local_config
# not in version control to allow for local differences
/.config/kitty/font.conf
/.config/kitty/themes.conf
# written to by fish's set_kitty_theme function's invocation of `kitty +kitten themes`
/.config/kitty/themes.conf.bak
/.config/kitty/current-theme.conf
# kitty writes this file when it modifies kitty.conf; ignore it
/.config/kitty/kitty.conf.bak
# clojure tools, not pinned / tracked
/.config/clojure/tools

# contains sensitive information
/.netrc
# npm configuration - can contain sensitive information
# See https://docs.npmjs.com/cli/v10/configuring-npm/npmrc#auth-related-configuration
/.npmrc

# data files for various programs
/.cache
/.local
/.npm
/.docker
/.cargo
/.rustup
/.terminfo
/.jump
/.ssh
/.terminfo
/.viminfo
/.bash_history
/.zsh_history
/.clojure_history
/.python_history
/.sqlite_history
# kitty uses less as a pager
/.lesshst

# macOS file
/.CFUserTextEncoding

# generated / local fish files
/.config/fish/fish_variables
/.config/fish/conf.d
/.config/fish/completions

# nvim files
/.config/nvim/spell/en.utf-8.add*

# macOS trash directory
/.Trash

# macOS default directories
/Applications/
/Desktop/
/Documents/
/Downloads/
/Library/
/Movies/
/Music/
/Pictures/
/Public/

# created by `brew bundle --global`
#
# > As it can contain local environment information that varies between
# > systems, it's not worth committing to version control on multi-user
# > repositories.
# https://github.com/homebrew/homebrew-bundle#versions-and-lockfiles
/.Brewfile.lock.json

# Default go directory, for installed binaries and pkg downloads
/go/
# Directory for code
/src/

# uv self-update
/.config/uv/uv-receipt.json
