{:aliases
 {:repl/nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.8.2"}
                            cider/cider-nrepl {:mvn/version "0.25.4"}}
               :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

  :repl/rebel-nrepl {:extra-deps {nrepl/nrepl                {:mvn/version "0.8.2"}
                                  cider/cider-nrepl          {:mvn/version "0.25.4"}
                                  com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
                     :main-opts  ["-m" "nrepl.cmdline"
                                  "--middleware" "[cider.nrepl/cider-middleware]"
                                  "-i"
                                  "-f" "rebel-readline.main/-main"]}

  :project/outdated {:extra-deps {antq/antq {:mvn/version "RELEASE"}}
                     :main-opts ["-m" "antq.core"]}

  :project/new {:extra-deps {seancorfield/clj-new {:mvn/version "1.1.228"}}
                :exec-fn    clj-new/create
                :exec-args  {:template lib :name practicalli/playground}
                :main-opts  ["-m" "clj-new.create"]}

  :cljfmt/fmt {:extra-deps {cljfmt/cljfmt {:mvn/version "0.7.0"}}
               :main-opts ["-m" "cljfmt.main" "fix"]}

  :cljfmt/check {:extra-deps {cljfmt/cljfmt {:mvn/version "0.7.0"}}
                 :main-opts ["-m" "cljfmt.main" "check"]}}}
