{:aliases
 {:repl/nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.8.3"}
                            cider/cider-nrepl {:mvn/version "0.26.0"}
                            hashp/hashp {:mvn/version "0.2.1"}}
               :main-opts ["-e" "(require,'hashp.core)"
                           "-m" "nrepl.cmdline"
                           "--middleware" "[cider.nrepl/cider-middleware]"]}

  :project/outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                     :main-opts ["-m" "antq.core"]}

  :project/new {:extra-deps {seancorfield/clj-new {:mvn/version "1.1.297"}}
                :exec-fn    clj-new/create
                :exec-args  {:template "app"}}

  :cljfmt/fmt {:extra-deps {cljfmt/cljfmt {:mvn/version "0.7.0"}}
               :main-opts ["-m" "cljfmt.main" "fix"]}

  :cljfmt/check {:extra-deps {cljfmt/cljfmt {:mvn/version "0.7.0"}}
                 :main-opts ["-m" "cljfmt.main" "check"]}}}
