;; ignore the "Non-deterministic" version warnings - we just want to use the
;; latest in these "tools".
#_:clj-kondo/ignore
{:aliases
 {:repl/nrepl {:extra-deps {nrepl/nrepl {:mvn/version "RELEASE"}
                            ;; cider is required for Conjure
                            ;; See https://github.com/Olical/conjure/wiki/Quick-start:-Clojure
                            cider/cider-nrepl {:mvn/version "RELEASE"}}
               :main-opts ["--main" "nrepl.cmdline"
                           "--middleware" "[cider.nrepl/cider-middleware]"
                           "--interactive"]}}}
