;; https://git.sr.ht/~xerool/fennel-ls/tree/HEAD/docs/manual.md
;; https://git.sr.ht/~micampe/fennel-ls-nvim-docs
{;; nvim uses LuaJIT
 :lua-version :lua5.1
 ;; https://dev.fennel-lang.org/wiki/LanguageServer
 ;; To populate the nvim docset: `just -f ~/justfile fennel-ls-nvim-docs`.
 :libraries {:nvim true}}
